<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>进度面板</title>
    <link rel="stylesheet" href="../css/posting.css" />
    <script src="../../src/progress.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="top" style="-webkit-app-region: drag">
        <div class="btn close-btn" style="-webkit-app-region: no-drag">
          <i class="bx bx-x"></i>
        </div>
      </div>
      <div class="progress">
        <div class="container">
          <div class="bar"></div>
        </div>
      </div>
      <div class="info">
        <div class="text"></div>
        <div class="rate">0%</div>
      </div>
    </div>
  </body>
</html>
